main {
  overflow: visible !important;
}

#element-1185 {
  margin-bottom: 1vh;
  color: black;
}

@media (min-width: 600px) { 
  #element-1185 {
    width: 100%;
  }
}

details {
  margin: 0 auto ;
  border-radius: 5px;
  overflow: hidden;
}

details > *:not(:first-child) {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: normal;
  background: #FFE521;
}

details > *:not(:first-child) > p {
    margin-bottom: 20px;
}
/* 
.upper-section {
  background: #282828;
} */

.lower-section {
  background: #ffffff;
  border-radius: 0%;
}

.lower-section p,ul {
  margin-left: 5%;
}

.lower-section img {
  width: -webkit-fill-available;
}

.upper-section {
  margin: 20px;
  font-size: 24px;
  font-family: "Bitter";
  font-weight: bold;
  text-align: left;
}

summary {
  padding: 1rem;
  display: block;
  background: #F2F2F2;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

.lower-section summary {
  background: white;
}

details[open] > summary {
  background: #FFE521;
  font-weight: bold;
  text-decoration: underline;
}

details[open] summary ~ * {
  animation: growDown 300ms ease-in-out;
}

@keyframes growDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}