h1 {
  font-family: "Bitter";
  font-weight: bold;
  text-align: -webkit-center;
}

body {
  overflow: visible !important;
  padding-bottom: 1vh;
}

a {
  font-family: "Open Sans";
  text-decoration: underline;
  font-weight: bolder;
  color: black;
}

details {
  font-family: "Bitter";
  margin: 0 auto ;
  border-radius: 5px;
  overflow: hidden;
}

details > *:not(:first-child) {
  font-size: 0.9907rem;
  font-family: "Open Sans";
  font-weight: normal;
}

details > *:not(:first-child) > p {
    margin-bottom: 20px;
}

.upper-section {
  margin: 20px;
  font-size: 1.2384rem;
  font-weight: bold;
  text-align: left;
}

summary {
  padding: 1rem;
  display: block;
  background: #F2F2F2;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

details[open] > summary {
  background: #F7F7F7;
  font-weight: bold;
  text-decoration: underline;
}

details[open] summary ~ * {
  animation: growDown 300ms ease-in-out;
}

p {
  margin-left: 40px;
  font-family: "Open Sans";
}

@keyframes growDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}